
	u
	{
		color: cadetblue;
		justify-content: slanting;
		font-weight: bolder;
		gap: 3em;
		shape-margin: 2em;
	}

	body
	{
		background-color:"lightsalmon;";
		background-clip: border-box;
		background-image: none;
		opacity: 0px;
		text-decoration-color: yellowgreen;
		font-weight: bolder;

	}
	input,button,label,h1
	{
		background-color: lightgreen;
		font-size: 30px;
		padding: none;
		border-left-color: lightbrown;
		border-end-end-radius: 1em;
		font-style: italic;
		border-start-start-radius: 1em;
		content-visibility: 1em;
		justify-content: center;
		color: rgb(3, 129, 255);
		text-shadow: rgb(219, 10, 10);
		scrollbar-3dlight-color: orange;
	}
	h2
	{
		color:darkcyan;
		text-shadow: greenyellow;
		font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
	}	
	h3
	{
		font-size: 25px;
		color: rgb(163, 2, 2);
		justify-content: 10px;
		font-family:times new roman ;


	}
	.error
	{
		color: saffron;
		font-weight: bold;
	}
	.success
	{
		color: greenyellow;
		font-weight: bold;

	}
	.default
	{
		color: blue ;

	}
	span
	{
		font-size: 1.5em;
	}
